<?php
// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<h2>Name: <?= $block->getName() ?></h2>
<br>
<h2>Date Of Birth: <?= $block->getDateOfBirth() ?></h2>
<br>
<h2>Gender: <?= $block->getGender() ?></h2>
<br>
<h2>Address: <?= $block->getAddress() ?></h2>
<br>
<h2>Email: <?= $block->getEmail() ?></h2>
